flow-hesap-makinesi-v1.0.json
[{"id":"f8fed579.e98ed","type":"inject","z":"ec9d64f2.7dbce8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":120,"wires":[["860407e8.d77af"]]},{"id":"f1c4ad1a.d65118","type":"debug","z":"ec9d64f2.7dbce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":60,"wires":[]},{"id":"3f26579e.4ffeb8","type":"debug","z":"ec9d64f2.7dbce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":100,"wires":[]},{"id":"c1d1a565.4e16f8","type":"debug","z":"ec9d64f2.7dbce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":140,"wires":[]},{"id":"b3556073.8641","type":"debug","z":"ec9d64f2.7dbce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":180,"wires":[]},{"id":"860407e8.d77af","type":"function","z":"ec9d64f2.7dbce8","name":"msg.sayi1=4, msg.sayi2=2","func":"msg.sayi1 = 4;\nmsg.sayi2 = 2;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["e011f696.66515"]]},{"id":"e011f696.66515","type":"hesap-makinesi","z":"ec9d64f2.7dbce8","name":"","x":580,"y":120,"wires":[["f1c4ad1a.d65118"],["3f26579e.4ffeb8"],["c1d1a565.4e16f8"],["b3556073.8641"]]},{"id":"c114d695.0b63a8","type":"catch","z":"ec9d64f2.7dbce8","name":"","scope":null,"uncaught":false,"x":100,"y":180,"wires":[["8941fb4d.e45a3"]]},{"id":"8941fb4d.e45a3","type":"debug","z":"ec9d64f2.7dbce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":260,"y":180,"wires":[]}]